
// font($font-family, $font-file)
//   @font-face
//     font-family: $font-family
//     src: url("../fonts/" + $font-file + ".eot")
//     src: url("../fonts/" + $font-file + ".eot?#iefix") format("embedded-opentype"), url("../fonts/" + $font-file + ".woff") format("woff"), url("../fonts/" + $font-file + ".ttf") format("truetype"), url("../fonts/" + $font-file + ".svg#$font-file") format("svg")
//     font-weight: normal
//     font-style: normal

/*Importing fonts*/
// font("OSL", "mission_gothic_light-webfont")
 